:root{
  --color-bg: #1f1f38;
  --primary-color: #4db5ff;
  --bg-color: #bbdefb;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.headings{
  display: flex;
  margin-top: 2rem;
  padding: 2rem;
  text-align: center;
  justify-content: center;
}
.heads{
  width: 50%;
}
.head2{
  color: #b0bec5;
  font-size: 1rem;
}
@media screen  and (max-width: 600px){
  .heads{
    width: 100%;
  }

}